<tr>
  <td align="right"><span class="font_cou">*</span><%= simple_captcha_options[:label] %>：</td>
  <td>  <%= simple_captcha_options[:field] %></td>
  <td class="font_s"><%= simple_captcha_options[:image] %></td>
</tr>

<script type="text/javascript">
  $(function(){
    $("#user_captcha").addClass("bks");
  });
</script>
