<div class="footer">
  <div class="m">
    <ul class="footer_a clearfix">
      <li><a href="/helps/about">关于维衣</a></li>
      <li>|</li>
      <li><a href="/helps/how">购买指南</a></li>
      <li>|</li>
      <li><a href="/helps/company-process">团体定制流程</a></li>
      <li>|</li>
      <li><a href="/helps/individual-process">个人定制流程</a></li>
      <li>|</li>
      <li><a href="/helps/timeline">工期说明</a></li>
      <li>|</li>
      <li><a href="/helps/service">售后服务</a></li>
      <li>|</li>
      <li><a href="/helps/career">工作机会</a></li>
      <li>|</li>
      <li><a href="/helps/contact">联系我们</a></li>
    </ul>

    <div class="footer_b">营业时间：周一到周日 10:00-19:00 节假日无休    联系电话：400-010-0013</div>
  </div>
</div>
<div class="footer_c">
  <div class="m "><div class="footer_d"><a href="">www.365weiyi.com</a> 版权所有 [v2.11.0709] <!-- [粤ICP备11023687号-1] --></div></div>
</div>
<script src="http://s19.cnzz.com/stat.php?id=3191549&web_id=3191549" language="JavaScript"></script>