<div id="shangmian">
  <div class="newstop">
    <u>提醒</u>
    <em>
      <marquee align="left" behavior="scroll" direction="left" onmouseover="this.stop()" onmouseout="this.start()" scrollamount="4">
        制作周期说明:衬衫定制3~5天左右（不含休息日)。西服定制18~22天,加急需额外付费,购买时请一定提前安排好时间。
      </marquee>
    </em>
    <i><a href="/why_bespoken.html">为什么采用定制而不去逛商场</a></i>
  </div>
</div>