<%#= javascript_include_tag 'yu', 'tb' %>
  <div class="index_topleft">
    <div class="index_topleft1">
      <div id="foc">
        <% @scrolling_banners.each do |banner| %>
          <%= link_to(raw("<img src='#{banner.photo_url}' alt='#{h banner.name}' />"), banner.link_to, :title => h(banner.name)) %>
        <% end %>
      </div>
      <div id="focimg" class="avs">
        <dt><a target="_blank" href="/"><img src="/images/a14.gif"></a></dt>
        <dd>
          <!-- <div>  STOP
          </div> -->
          <ul>
          </ul>
        </dd>
      </div>
      <script>FocusImg(5000,"foc","focimg");</script>
    </div>
  </div>

  <div class="rightWrap">
    <div class="right">
      <ul class="hot_map">
        <li><a href="/helps/contact#chaoyang" class="chaoyang">&nbsp;</a></li>
        <li><a href="/helps/contact#haidian" class="haidian">&nbsp;</a></li>
      </ul>
    </div>
    <div class="right">
      <h2 class="title">维衣微博</h2>
      <iframe width="100%" height="110" class="share_self"  frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?width=0&height=110&fansRow=2&ptype=1&speed=0&skin=-1&isTitle=1&noborder=1&isWeibo=0&isFans=0&uid=2034391672&verifier=b8c5e1f7&colors=ffffff,ffffff,666666,0082cb"></iframe>
    </div>
  </div>
